*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    margin: auto;
    width: 80vw;
    height: 25vh;
    border-bottom: thin solid rgba(92,92,241);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgba(250, 249, 249, 0.527);
}

header .box-container {
    margin-right: 5px;
    flex-basis: 40%;
    max-height: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    text-decoration: none;
    flex-shrink: 0;
    flex-grow: 0;
}

/* .logoNombre{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: end;
    align-items: start;
} */


header .box-container .logo_container{
    width: 70%;
}
header .box-container .logo_container img{
    width: 70%;
}
header .box-container .nombre_logo {
    width: 50%;
}
header  .box-container .nombre_logo p {
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    font-size: 2vw;
    font-weight: 900;
    color: rgb(92, 92, 241);
    text-align: center;
    
    
}

header .box-container a{
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    font-weight: 600;
    text-decoration: none;
    padding: 1vw;
    color:rgb(92, 92, 241) ;   
}
header .box-container a:hover{
    opacity: 0.5;
}