*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer{
    position: relative;
    bottom: 0px;
    width: 100%;
    padding-top : 50px ;
    background-image: url(../multimedia/p_footer.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.container_footer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 1200px;
    margin: auto;
    margin-top: 250px;
}

.box_footer{
    display: flex;
    flex-direction: column;
    padding: 40px;

}


.box_footer .logo{
    text-align: center;
    
}
.box_footer .logo img{
    width: 100px;
    
}
.box_footer .terminos{
    max-width: 350px;
    font-weight: 500;
    color: #333;
    font-size: 18px;
}

.box_footer h2{
    margin-bottom: 30px;
    color: #222;
    font-weight: 700;
}

.box_footer a{
    margin-top: 10px;
    color: #333;
    text-decoration: none;
    font-weight: 600;
}
.box_footer a:hover{
    opacity: 0.5;
}

.box_footer a .fa-brands{
    font-size: 20px;
}
.box_copyright{
    width: 100%;
    max-width: 1200%;
    margin: auto;
    text-align: center;
    padding: 10px 40px;
}

.box_copyright p{
    margin-top: 20px;
    color: #333;
}

.box_copyright hr{
    border: none;
    height: 1px;
    background-color: #222 ;
}